<div class="table-inner">
  <table class="items-table" summary="搜索结果-宝贝列表">
    <colgroup>
      <col width="45%">
      <col width="25%">
      <col width="auto">
    </colgroup>
    <tbody class="item-list J_TItems">
      <volist name="data.lists" id="vo">
        <tr class="item-info" data-id="{$vo.id}">
          <td class="title">
            <div class="title-wrapper">
              <span class="item-pic">
                <a href="{:U('/Item/detail', array('id' => $vo['id']))}" target="_blank"><img class="J_TShowBigPic" alt="{$vo.name}" title="{$vo.name}" src="__ROOT__{$vo.cover_path_tiny}"></a>
              </span>
              <a href="{:U('/Item/detail', array('id' => $vo['id']))}" target="_blank" class="title-text" title="{$vo.name}" data-spm-anchor-id="0.0.0.0">{$vo.name}</a>
            </div>
          </td>
          <td class="price ellipsis g_price" title="{$vo.price}"><strong>{$vo.price}</strong></td>
          <td class="opt"><a href="javascript:;" title="选择" class="J_opt">选择</a></td>
        </tr>
      </volist>
    </tbody>
  </table>
  <div class="page J_Page">{$data.page}</div>
</div>