<extend name="Base/common"/>

<block name="header">
<link href="__CSS__/marketing.css" rel="stylesheet">
<php>if(!is_weixin()){</php>
{:hook('mobileTopNav',array('title'=>$meta_title))}
<php>}else{</php>
  <header class="bar bar-nav">
    <a href="{:U('/')}" class="logo"><img src="{:get_cover(C('WAP_LOGO'),'path')}" height="34" alt="{:C('WEB_SITE_TITLE')}"></a>
    <span class="nav-invite">客服：<a class="text-danger" href="TEL:{:C('WEB_SITE_TEL')}">{:C('WEB_SITE_TEL')}</a></span>
  </header>
<php>}</php>
</block>

<block name="body">
  <!-- 商品图片幻灯 -->
  <notempty name="data.images_list">
    <div class="slider">
      <div class="slide-group">
        <volist name="data.images_list" id="vo">
          <div class="slide">
            <img src="{$vo.path}">
          </div>
        </volist>
      </div>
      <ol class="slider-indicators">
        <volist name="data.images_list" id="vo">
          <li></li>
        </volist>
      </ol>
    </div>
  <else/>
    <i class="icon"></i>
    <p class="tips">暂无图片</p>
  </notempty>

  <!-- 商品名称、价格、收藏 -->
  <div class="item-info">
    <h4 class="name">{$data.name} <notempty name="data.subname"><span class="subname text-danger">{$data.subname}</span></notempty></h4>
    <!-- 商品价格 -->
    <div class="price-box">
      <span class="text-danger">
        <span class="yen">&yen;</span><em class="price Z_spec_price">{$data.price}</em>
      </span>
      <del>10人团<!--<span class="yen">&yen;</span>{$data.mprice}--></del>
        <del style="display:block;margin:5px 0 0;">单卖价：<span class="yen">￥20.00</span></del>
    </div>
    <!--{//优惠信息}-->
    <if condition="$data.show_preferential eq true">
    <div class="preferential">
      <if condition="$data.fugou_dis_price gt 0">
        <span>老客户立减 {$data.fugou_dis_price} 元</span>
      </if>
      <notempty name="data.SecondPieces">
        <span>{$data.SecondPieces.name}</span>
      </notempty>
    </div>
    </if>
    <!-- 加入收藏 -->
    <div class="fav-box">
      <a href="javascript:;" id="Z_item_{$data.id}" data-id="{$data.id}" class="fav <eq name="data.is_fav" value="1">has-fav</eq> Z_add_fav"><i class="icon <eq name="data.is_fav" value="1">icon-like-fill<else/>icon-like</eq>"></i></a>
    </div>
    <!-- 运费 -->
    <div>
      由 <eq name="data.supplier_id" value="0">{:C('WEB_SITE_TITLE')}<else/>{$data.supplier_id|get_supplier_text}</eq> 发货并提供售后服务<span class="delivery_free text-danger">
    <php>$a_pr = get_supplier_free_amount($data['supplier_id']);</php>
    <gt name="a_pr" value="0">
        满{$a_pr}元包邮
        <else />
        免运费
    </gt>
</span><br />
     
    </div>
  </div>
  
  <notempty name="data.send_item">
    <!-- 赠品 -->
    <div class="send-item">
      <span class="send-item-tip">
        <gt name="data.send_min_num" value="1">
        买{$data.send_min_num}件赠送
        <else/>
        赠品
        </gt>
      </span>
      <volist name="data.send_item" id="vv">
        <span class="send-item-span"><a href="{:U('/Item/detail?id='.$vv['id'])}"><img src="{:get_image_thumb($vv['item_info']['thumb'], 100, 100)}" title="{$vv.item_info.name} × {$vv.num}" alt="{$vv.item_info.name} × {$vv.num}"/></a></span>
      </volist>
    </div>
  </notempty>
  
  <notempty name="data.SecondPieces">
    <!-- 第二件折扣  
    <div class="">
      {$data.SecondPieces.name}
    </div> -->
  </notempty>
  
  <input type="hidden" id="Z_item_id" name="item_id" value="{$data.id}">
  <input type="hidden" id="Z_item_stock" name="stock" value="{$data.stock}">
  <input type="hidden" id="Z_item_image" name="item_image" value="{$data.cover_path}">
  <input type="hidden" id="Z_item_price" name="price" value="{$data['price']}">
  <input type="hidden" id="Z_item_spec" name="specifiction"  value="">
  <input type="hidden" id="Z_item_code" name="item_code" value="{$data.number}">
  <input type="hidden" id="Z_sdp_code" name="sdp_code" value="{$_GET['sdp_secret']}">

  <!-- 商品数量选择 --> 

  <div class="item-num">
    <php>$quota_num = $data['quota_num'] > 0 ? $data['quota_num'] : $data['stock'];</php>
    <notempty name="data.property.property_specifiction">
      <a href="#Z_spec_info" id="Z_select_spec" class="btn btn-block btn-spec">选择：规格、数量<i class="icon icon-arrow-right"></i></a>
    <else/>
      <!-- 购买数量选择 -->
      <h4>选数量 
        <notempty name="data.quota_num">
          <span class="quota-tip">（{$data.id|quota_text}限购 <span class="text-danger Z_quota_num">{$data.quota_num}</span> 件）</span>
        </notempty>
      </h4>
      <div class="num" <notempty name="data.quota_num"> style="float:inherit;margin-bottom:10px;" </notempty>>
        <a href="javascript:;" class="minus disabled Z_quantity_act" data-option="minus"><i class="icon">&minus;</i></a>
        <input id="Z_item_quantity" type="number" value="1" pattern="[0-9]*" min="1" max="{:min($data['stock'], $quota_num)}" required="">
        <a href="javascript:;" class="plus Z_quantity_act {$quota_num==1? 'disabled': ''}" data-option="plus"><i class="icon">&plus;</i></a>
        <em id="J_EmStock" class="tb-hidden">库存<i class="Z_spec_quantity">{$data.stock}</i>件</em>
      </div>
    </notempty>
  </div>

  <!-- 已购买数量和已收藏数量 -->
  <div class="item-count" id="Z_buy_box">
    <ul class="flex-box info">
      <if condition="C('IS_SHOW_BUYNUM')">
        <li>
          <i class="icon icon-cart-fill"></i><em>{$data['buynum']}人已购买</em>
        </li>
      </if>
      <li>
        <i class="icon icon-like-fill"></i><em>{$data['favnum']}人已收藏</em>
      </li>
    </ul>
  </div>
    <!--<拼团规则-->
    <div class="puzzle-rule">
        <h1>拼团规则<span>详细规则></span></h1>
        <ul>
            <li><span>1</span><label>选择心仪团购商品</label></li>
            <li><span>2</span><label>支付拼团或参团</label></li>
            <li><span>3</span><label>邀请好友参团</label></li>
            <li><span>4</span><label>达团购数拼团成功</label></li>
        </ul>
        <div class="rule-produce">人数不足自动退款，详见上方详细规则</div>
    </div>
    <!--参团-->
    <div class="offer">
        <div class="offer-head">
            <img src="" />
            <span class="name-address">
                小长苏
                <span>成都</span>
            </span>
        </div>
        <a href="#">参团</a>
        <label>差1人成团</label>
        <span class="terminal-time">剩余：24:14:03结束</span>
    </div>
  <!-- 商品参数 -->
  <notempty name="data.property.property_attribute">
    <div class="item-param">
      <h4>商品参数</h4>
      <ul>
        <volist name="data.property.property_attribute" id="prp">
          <li>
          <notempty name="prp['info'][0]"><span>{$prp.cname}：</span></notempty>
          <notempty name="prp.info">
            <volist name="prp.info" id="val">
              <in name="prp.formtype" value="input,textarea">
                {$val}
              <else/>
                <eq name="prp.formtype" value="color">
                  <notempty name="val.item_pic">
                    <img src="{$val.item_pic}" alt="{$val['option']}" title="{$val['option']}" class="item_pic" />
                  <else/>
                    <notempty name="val.pic">
                      <img src="__ROOT__{$val.pic|get_cover='path'}" alt="{$val['option']}" title="{$val['option']}" />
                    <else/>
                      <i style="background:{$val['color']}"></i>
                    </notempty>
                  </notempty>
                </eq>
                <eq name="prp.formtype" value="image">
                  <img src="__ROOT__{$val.pic|get_cover='path'}" alt="{$val['option']}" title="{$val['option']}" />
                </eq>
                {$val['option']}&nbsp;
              </in>
            </volist>
          </notempty>
          </li>
        </volist>
      </ul>
    </div>
  </notempty>

  <!-- 商品详细信息 -->
  <div class="item-intro"> 
    
      <h4>商品详情</h4>
    <div class="images">{$data['intro']}</div>
  </div>
   
  <!-- 用户评价 -->
  <div class="item-comment">
    <h4>用户评价</h4>
    <div class="comment">
      <notempty name="data.comment">
        <ul>
          <volist name="data.comment" id="vo">
            <li>
              <div class="article">
                <strong>
                  <if condition="$vo['Member']">
                    {$vo.Member.nickname|get_hidden_mobile}
                  <else />
                    {$vo.nickname}
                  </if>
                </strong>
                <small class="text-info">{$vo.create_time|time_format}</small>
                <div class="info">
                  {$vo.content}
                  <notempty name="vo.reply">
                    <div class="reply">
                      <div class="avatar">
                        <img class="media-object pull-left img-circle" src="__IMG__/logo-avatar.png" width="50" onerror="this.src='__IMG__/thumbnail.png'">
                      </div>
                      <div class="info">
                        <strong>回复</strong>
                        <small class="text-info">{$vo.reply.create_time|time_format}</small>
                        <p>{$vo.reply.content}</p>
                      </div>
                    </div>
                  </notempty>
                </div>
              </div>
              <div class="avatar">
                <if condition="$vo['Member']">
                  <img src="<notempty name="vo.Member.avatar">{:get_image_thumb($vo['Member']['avatar'], 120, 120)}<else/>__IMG__/avatar-default.png</notempty>" width="50" />
                <else />
                  <img src="<notempty name="vo.image">{:get_image_thumb(get_cover($vo['image'], 'path'), 120, 120)}<else/>__IMG__/avatar-default.png</notempty>" width="50">
                </if>
              </div>
            </li>
          </volist>
        </ul>
      <else/>
        <p>暂时没有用户评价！</p>
      </notempty>
    </div>
  </div>

  <!-- 返回首页浮动层 -->
  <a href="{:U('/')}" class="item-home-fixed"><i class="icon icon-home"></i></a>
</block>

<!-- 商品规格选择 -->
<block name="extend">
  <!-- 放到底部防止content z-index导致遮罩遮挡的bug -->
  <div id="Z_spec_info" class="modal modal-spec">
    <header class="bar bar-nav">
      <a class="pull-right" href="#Z_spec_info"><i class="icon icon-close"></i></a>
      <h1 class="title">选择规格和数量</h1>
    </header>

    <div class="content content-padded">
      <div class="select-info">
        <span id="Z_selected_info" class="pull-left">请您选择规格</span>
        <span class="pull-right text-danger">
          <span class="yen">&yen;</span>
          <em class="price Z_spec_price">{$data.price}</em>
        </span>
      </div>
      <notempty name="data.property.property_specifiction">
        <div class="pro-spc" id="Z_item_spc">
          <!-- 规格选择 -->
          <volist name="data.property.property_specifiction" id="spc" key="spc_key">
            <div class="spec-box">
              <h3>选{$spc.cname}</h3>
              <dl class="sku-box Z_sku_box">
                <notempty name="spc.info">
                  <dd>
                    <ul class="Z_spec_item <in name='spc.formtype' value='checkbox'>text</in> <in name="spc.formtype" value="color,image">color</in>">
                      <volist name="spc.info" id="val" mod="3">
                        <li title="{$val.option}" class="choose Z_sale_porp" data-key="{$spc_key}" data-code="{$val.code}" args="key[{$val['code']}]={$spc.cname}&val[{$val['code']}]={$val['option']}&code[{$spc_key}]={$val['code']}">
                          <a href="javascript:;">
                            <switch name="spc.formtype">
                              <case value="color">
                                <notempty name="val.item_pic">
                                  <img src="__ROOT__{:get_image_thumb($val.item_pic, 100, 100)}" alt="{$val.option}" title="{$val.option}" class="item_pic" onclick="javacript:item.switchPic(this.src);" />
                                <else/>
                                  <notempty name="val.pic">
                                    <img src="__ROOT__{$val.pic|get_cover='path'}" alt="{$val.option}" title="{$val.option}" />
                                  <else/>
                                    <i style="background:{$val.color}"></i>
                                  </notempty>
                                </notempty>
                              </case>
                              <case value="image">
                                <img src="__ROOT__{$val.pic|get_cover='path'}" alt="{$val.option}" title="{$val.option}" />
                              </case>
                              <default />{$val.option}
                            </switch>
                            <span class="triangle">已选中</span>
                          </a>
                          <span class="option">{$val.option}</span>
                        </li>
                      </volist>
                    </ul>
                  </dd>
                </notempty>
              </dl>
            </div>
          </volist>
          <notempty name="data.quota_num">
            <div class="select-info">
              <span class="pull-left">
                 当前商品{$data.id|quota_text}限购 <span class="text-danger Z_quota_num">{$data.quota_num}</span> 件
              </span>
            </div>
          </notempty>
          <!-- 数量选择 -->
          <div class="spec-box-num">
            <h3>选数量</h3>
            <div class="num">
              <a href="javascript:;" class="minus disabled Z_quantity_act" data-option="minus"><i class="icon">&minus;</i></a>
              <input id="Z_item_quantity" type="number" value="1" pattern="[0-9]*" min="1" max="{:min($data['stock'], $quota_num)}" required="">
              <a href="javascript:;" class="plus Z_quantity_act {$quota_num ==1 ? 'disabled' : ''}" data-option="plus"><i class="icon">&plus;</i></a>
              <em id="J_EmStock" class="tb-hidden">库存<i class="Z_spec_stock">{$data.stock}</i>件</em>
            </div>
          </div>
          <a id="Z_spec_submit" class="btn btn-block btn-positive">确定</a>
          <a href="#Z_spec_info" class="btn btn-block">取消</a>
        </div>
      </notempty>
    </div>
  </div>
</block>

<block name="footer">
  <div class="bar bar-tab item-act">
    <if condition="$data['seckill']">
      <span class="pull-left text-center">
        <span class="Z_seckill_time"><div class="btn btn-block btn-tab disabled">秒杀活动已结束</div></span>
      </span>
      <span class="pull-right">
        <a href="javascript:;" class="btn btn-block btn-positive btn-tab Z_seckill_btn disabled"><i class="icon icon-recharge"></i>立即购买</a>
      </span>
    <else />
    
      <gt name="data.stock" value="0">
        <span class="pull-left">
          <a href="javascript:;" class="btn btn-block btn-positive btn-tab" id="Z_quick_buy"><i class="icon icon-recharge"></i>立即购买</a>
        </span>
        <span class="pull-right">
          <a href="javascript:;" class="btn btn-block btn-negative btn-tab" id="Z_add2cart"><i class="icon icon-cart"></i>加入购物车</a>
        </span>
      <else/>
        <span class="pull-left">
          <a href="javascript:;" class="btn btn-block btn-positive btn-tab disabled"><i class="icon icon-recharge"></i>抱歉，卖光了……</a>
        </span>
        <span class="pull-right">
          <a href="{:U('/Item/search')}" class="btn btn-block btn-tab"><i class="icon icon-cart"></i>去看看别的</a>
        </span>
      </gt>
                  
      
    </if>
    <a href="{:U('Cart/index')}" class="cart-fixed"><i class="icon icon-cart"></i><em class="num {$user_count['cart_count'] > 0 ? '' :'hide'}" id="Z_global_cart_quantity">{$user_count['cart_count']|default=0}</em></a>
  </div>
</block>

<block name="script">
  <script type="text/javascript">
  // window.onload=function(){
  //   $('#Z_item_spc .spec-box').each(function(){
  //       $(this).find('ul li').first().click();
  //   });
   
  // }

    //规格组合对应的价格，数量值数组
    var spc_data_info = null;
    <notempty name="data.property.spc_data">
      spc_data_info = '{$data.property.spc_data}';
    </notempty>
    
    seajs.use(['item', 'cart', 'wechat'], function(item, cart, wechat){
      if({$data.stock} > 0){
        item.init(spc_data_info, {:json_encode($data['seckill'])});
      }else{
        item.init(spc_data_info, null);
      }
      //解决返回按钮引起的购物车数量不正确的问题
      cart.getCartCount();
      wechat.init();
    });
  </script>
</block>