<div id="topbar">
  <div class="row">
    <div class="col-xs-5">
      <a href="./" class="logo"><img src="{:get_cover(C('LOGO'),'path')}" height="60"></a>
    </div>
    <div class="col-xs-4">
      <form action="" class="search">
        <i class="iconfont">&#xe60b;</i>
        <input type="text" class="search-input">
      </form>
    </div>
    <div class="col-xs-3">
      <div class="cart">
        <a href="" class="item"><i class="iconfont">&#xe61c;</i></a>
        <a href="" class="item"><i class="iconfont">&#xe617;</i></a>
        <a href="" class="item"><i class="iconfont">&#xe60e;</i></a>
      </div>
    </div>
  </div>
</div>