<extend name="Base/common"/>
<block name="header">
{:hook('mobileTopNav',array('title'=>$meta_title))}
</block>

<block name="body"><style>.bar-tab{display: none;}</style>

  <div class="text-warning" style="  text-align: center;  line-height: 28px;">
    您的订单已提交成功，请您完成支付。<br>
    成功付款后，<span class="text-danger">72小时</span>内将为您发货！
  </div>
  <form action="<gt name="data.total_amount" value="0">{:U('Pay/index')}<else/>{:U('Pay/quick')}</gt>" id="payment_{$data['id']}" method="post" data-ajax="false">
    <input type="hidden" name="order_id" value="{$data['id']}">
    <div class="order-preview">
      <span class="head"></span>
      <div class="main">
        <div class="detail">
            <p>订单编号：{$data['order_sn']}</p>
            <p>配送区域：{$data.ship.ship_area}</p>
            <p>配送地址：{$data.ship.ship_address}</p>
            <p>运费总额：<gt name="data.delivery_fee" value="0">{$data.delivery_fee} 元<else/>免运费配送</gt></p>
            <p>订单金额：{$data.total_price} 元</p>
            <eq name="data.payment.is_use_coupon" value="1">
              <p style="text-indent: 1em;">优惠券：<span class="pay-total">- {$data.payment.coupon_amount} 元</span></p>
            </eq>
            <eq name="data.payment.is_use_card" value="1">
              <p style="text-indent: 1em;">礼品卡：<span class="pay-total">- {$data.payment.card_amount} 元</span></p>
            </eq>
            <gt name="data.payment.score_amount" value="0">
              <p>积分抵扣：<span class="pay-total">- {$data.payment.score_amount} 元</span></p>
            </gt>
            <eq name="data.payment.is_use_finance" value="1">
              <p>账户余额：<span class="pay-total">- {$data.payment.finance_amount} 元</span></p>
            </eq>
            <gt name="data.total_amount" value="0">
            <p style="font-size:14px;padding-top:10px;"> <strong style="font-size:18px;">还需付款：<span class="pay-total"><span class="text-danger">{$data.total_amount}</span> 元</span></strong><span id="ys">
            （节省<span id="ys-t" class="text-danger"></span>元）</span></p>
             <script>
             if({$data.total_price}>{$data.total_amount}){
              var num={$data.total_price}-{$data.total_amount}; 
              document.getElementById("ys-t").innerHTML=num.toFixed(2);
            }else{
              document.getElementById("ys").innerHTML="";
            }
            </script>
            </gt>
            <notempty name='data.memo'>
            <p>订单备注：{$data.memo}</p>
            </notempty>
            <notempty name='data.invoice_des'>
            <p>
            发票信息：
              <volist name='data.invoice_des' id='vo'>
                {$vo}&nbsp
              </volist>
            </p>
            </notempty>
        </div>
        <eq name="data.total_amount" value="0">
        <!-- 当订单总金额为0时，使用快捷支付（帐户余额，礼券等支付方式） -->
        <script charset="utf-8" async="" src="http://www.ccyishe.com/Public/Home/default-mobile/js/module/order.js?1512311525"></script>
        <script charset="utf-8" async="" src="http://www.ccyishe.com/Public/Home/default-mobile/js/module/comment.js?1512311525"></script>
        <script charset="utf-8" async="" src="http://www.ccyishe.com/Public/Home/default-mobile/js/module/user.js?1512311525"></script>
          <div class="quick-finance-tip">
            余额支付：
            <span class="text-danger">
              <em class="yen">&yen;</em> 
              {$data.payment.finance_amount}</span> ，请完成支付验证
          </div>
          <div class="quick-pay">
            <div class="control-group">
              <div class="controls">
                <input type="text" class="Z_mobile" name="mobile" id="mobile"value="{:session('user_auth.mobile')}" disabled="1"><span class="btn btn-randcode">限注册手机</span>
              </div>
            </div>
            <div class="control-group">
              <input type="text" name="verify" id="verify" maxlength="4" placeholder="图形验证码">
              <img class="verifyimg J_reload_verify" style="width: 86px; height: 30px; position: absolute; right: 10px; top:8px;" title="点击更换" src="{:U('User/verify')}">
            </div>
            <div class="control-group">
              <input type="text" name="randcode" class="last Z_mobile_randcode" maxlength="6" placeholder="支付验证码">
              <a href="javascript:;" class="btn btn-primary btn-randcode Z_mobile_randcode_button" data-geturl="{:U('User/sendMobileCode')}">获取支付验证码</a>
            </div>
            <div class="content-padded">
              <a href="javascript:order.quick_pay({$data['id']});" class="btn btn-positive btn-block">立即支付</a>
            </div>
          </div>
        <else/>
        <!-- 使用第三方支付叠加支付 -->
          <div class="pay" style="margin-top:10px;">
            
            <input type="hidden" name="order_id" value="{$data['id']}">
            <input type="hidden" name="payment_type" id="payment_type" value="alipaywap">
            <if condition="is_weixin()">
            <input type="hidden" name="total_amount" class="Z_total_amount" value="{$data['total_amount']}">
            <button class="btn btn-block btn-positive" onclick="Ccyishepay('wechat');" style="background-color: #2d8701;border: 1px solid #2d8701;color: rgba(255,255,255,.9);padding: 8px 0;font-size: 18px;"><i class="icon icon-wechat" style="font-size:25px;color: #fff;margin-right: 5px;"></i>微信支付&nbsp;&nbsp;&nbsp;</button>
            <else/>
            <button class="btn btn-block btn-positive" onclick="Ccyishepay('alipay');" style=" background-color: #f77c04;border: 1px solid #f77c04;color: rgba(255,255,255,.9);padding: 8px 0;font-size: 18px;"><i class="icon icon-homeiconzhifubao" style="font-size:25px;color: #fff;margin-right: 5px;"></i> 支付宝支付</button>
            </if>
           
          </div>
        </eq>
      </div>
     
    </div>
  </form>
</block>

<block name="script">

  <script type="text/javascript">
  function Ccyishepay(ccyspay)
  {
    if(ccyspay=="alipay"){
            document.getElementById("payment_type").value="alipaywap";
        }else{
            document.getElementById("payment_type").value="wechatpay";
        }         
   }

    var order;
    seajs.use(['order', 'user'], function(o, user){
      order = o;
      var total_price = '{$order_count.total_price}',
        total_delivery = '{$order_count.total_delivery}';
      o.init(total_price, total_delivery);
      //
      var mobile_no = "{:session('user_auth.mobile')}";
      //if(!$.is_mobile_number(mobile_no)){
      //  $.ui.confirm('您尚未绑定手机号码，去绑定？',function(){
      //    window.location.href = '{:U("Member/mobileBind")}';
      //  });
      //}
      user.getRandCode('quickPay');
    });
  </script>
</block>