<extend name="Base/user"/>

<block name="body">
  <div class="user-box shop">
    
    <include file="head" />
    
    <form action="{:U('Withdraw/update')}" class="col-xs-8 form-horizontal J_ajax-form" method="POST">
      <div class="form-group">
        <label for="inputNumber" class="col-xs-3 control-label">提现至：</label>
        <div class="col-xs-6">
          <select name="account_id" class="form-control">
            <option value="">请选择提现账户</option>
            <volist name="lists" id="vo">
              <option value="{$vo.id}">
                <eq name="vo.type" value="alipay">
                  {$vo.type|get_user_account_text}
                <else />
                  {:C('BANK_LISTS.'.$vo['bankname'])}
                </eq>
                {$vo.name} {$vo.account}
              </option>
            </volist>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAmount" class="col-xs-3 control-label">可提现金额：</label>
        <div class="col-xs-6">
          <div class="form-info"><span class="text-danger">{$withdraw_finance} 元</span></div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAmount" class="col-xs-3 control-label">提现金额：</label>
        <div class="col-xs-6">
          <input type="text" name="amount" class="form-control" id="inputAmount" placeholder="最少为{:C('SDP_WITHDRAW_LIMIT')}元,必须是50的倍数">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="hidden" name="type" value="{$type}">
          <button type="submit" class="btn btn-large btn-positive ajax-post">申请提现</button>
        </div>
      </div>
    </form>
  </div>
</block>