<div class="delivery-type">
  <eq name="type" value="2">
    <div class="item">
      <label class="checkbox"><input type="checkbox" name="delivery_type" value="1">快递</label>
      <div class="default">
        运费：
        <input type="text" name="express_start" value="1" data-field="start" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费件数"> 件内，
        <input type="text" data-field="postage" name="express_postage" value="" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费价格"> 元，
        每增加
        <input type="text" name="express_plus" data-field="plus" value="1" class="text input-mini" autocomplete="off" maxlength="6" aria-label="每加件"> 件，
        增加运费
        <input type="text" name="express_postageplus" data-field="postageplus" value="" class="text input-mini " autocomplete="off" maxlength="6" aria-label="加件运费"> 元
      </div>
    </div>
    <div class="item">
      <label class="checkbox"><input type="checkbox" name="delivery_type" value="1">EMS</label>
      <div class="default">
        运费：
        <input type="text" name="express_start" value="1" data-field="start" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费件数"> 件内，
        <input type="text" data-field="postage" name="express_postage" value="" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费价格"> 元，
        每增加
        <input type="text" name="express_plus" data-field="plus" value="1" class="text input-mini" autocomplete="off" maxlength="6" aria-label="每加件"> 件，
        增加运费
        <input type="text" name="express_postageplus" data-field="postageplus" value="" class="text input-mini " autocomplete="off" maxlength="6" aria-label="加件运费"> 元
      </div>
    </div>
    <div class="item">
      <label class="checkbox"><input type="checkbox" name="delivery_type" value="1">平邮</label>
      <div class="default">
        运费：
        <input type="text" name="express_start" value="1" data-field="start" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费件数"> 件内，
        <input type="text" data-field="postage" name="express_postage" value="" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费价格"> 元，
        每增加
        <input type="text" name="express_plus" data-field="plus" value="1" class="text input-mini" autocomplete="off" maxlength="6" aria-label="每加件"> 件，
        增加运费
        <input type="text" name="express_postageplus" data-field="postageplus" value="" class="text input-mini " autocomplete="off" maxlength="6" aria-label="加件运费"> 元
      </div>
    </div>
  <else/>
    <div class="item">
      <label class="checkbox"><input type="checkbox" name="delivery_type" value="1">快递</label>
      <div class="default">
        运费：
        <input type="text" name="express_start" value="1" data-field="start" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费kg数"> kg内，
        <input type="text" data-field="postage" name="express_postage" value="" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费价格"> 元，
        每增加
        <input type="text" name="express_plus" data-field="plus" value="1" class="text input-mini" autocomplete="off" maxlength="6" aria-label="每加kg"> kg，
        增加运费
        <input type="text" name="express_postageplus" data-field="postageplus" value="" class="text input-mini " autocomplete="off" maxlength="6" aria-label="加kg运费"> 元
      </div>
    </div>
    <div class="item">
      <label class="checkbox"><input type="checkbox" name="delivery_type" value="1">EMS</label>
      <div class="default">
        运费：
        <input type="text" name="express_start" value="1" data-field="start" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费kg数"> kg内，
        <input type="text" data-field="postage" name="express_postage" value="" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费价格"> 元，
        每增加
        <input type="text" name="express_plus" data-field="plus" value="1" class="text input-mini" autocomplete="off" maxlength="6" aria-label="每加kg"> kg，
        增加运费
        <input type="text" name="express_postageplus" data-field="postageplus" value="" class="text input-mini " autocomplete="off" maxlength="6" aria-label="加kg运费"> 元
      </div>
    </div>
    <div class="item">
      <label class="checkbox"><input type="checkbox" name="delivery_type" value="1">平邮</label>
      <div class="default">
        运费：
        <input type="text" name="express_start" value="1" data-field="start" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费kg数"> kg内，
        <input type="text" data-field="postage" name="express_postage" value="" class="text input-mini" autocomplete="off" maxlength="6" aria-label="默认运费价格"> 元，
        每增加
        <input type="text" name="express_plus" data-field="plus" value="1" class="text input-mini" autocomplete="off" maxlength="6" aria-label="每加kg"> kg，
        增加运费
        <input type="text" name="express_postageplus" data-field="postageplus" value="" class="text input-mini " autocomplete="off" maxlength="6" aria-label="加kg运费"> 元
      </div>
    </div>
  </eq>
</div>