<extend name="Public/base" />

<block name="body">
  <!-- 标题栏 -->
  <div class="main-title">
    <h2>邀请详情({$_total})</h2>
  </div>
  <!-- 数据列表 -->
  <div class="data-table table-striped">
    <table class="">
      <thead>
        <tr>
          <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
          <th>被邀请用户UID</th>
          <th>被邀请用户名</th>
          <th>被邀请用户昵称</th>
          <th>奖励金额</th>
          <th>邀请时间</th>
        </tr>
      </thead>
      <tbody>
        <notempty name="_list">
          <volist name="_list" id="vo">
            <tr>
              <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
              <td>{$vo.reg_uid}</td>
              <td><a href="{:U('User/view?id='.$vo['reg_uid'])}">{$vo.reg_uid|get_username}</a></td>
              <td>{$vo.reg_uid|get_nickname}</td>
              <td>{$vo.reward_amount} 元</td>
              <td>{$vo.create_time|time_format}</td>
            </tr>
          </volist>
        <else/>
          <tr><td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td></tr>
        </notempty>
      </tbody>
    </table>
  </div>
  <div class="page">
    {$_page}
  </div>
</block>

<block name="script">
  <script type="text/javascript">
    //导航高亮
    highlight_subnav("{:U('User/index')}");
  </script>
</block>
