<extend name="Base/member"/>

<block name="breadcrumb">

</block>

<block name="body">
  <div class="user-box">
    <div class="user-order">
      <h3>
        我的订单
        <small>
          <ul class="box-nav clearfix">
            <li {$tab_active['all']}><a href="{:U('Member/order')}">全部订单</a></li>
            <li {$tab_active['payment']}><a href="{:U('Member/order', array('type' => 'payment'))}">待付款</a></li>
            <li {$tab_active['unship']}><a href="{:U('Member/order', array('type' => 'unship'))}">待发货</a></li>
            <li {$tab_active['unreceive']}><a href="{:U('Member/order', array('type' => 'unreceive'))}">待收货</a></li>
            <li {$tab_active['success']}><a href="{:U('Member/order', array('type' => 'success'))}">已完成</a></li>
            <li {$tab_active['cancel']}><a href="{:U('Member/order', array('type' => 'cancel'))}">已关闭</a></li>
          </ul>
        </small>
        <a href="{:U('Member/order', array('type' => 'recycle'))}" class="order-recycle-link{:I('type') == 'recycle' ? ' active': ''}"><i class="icon icon-remove"></i> 订单回收站</a>
      </h3>
      <notempty name="lists">
        <div class="list">
          <include file="orderList" />
        </div>
        <div class="page">{$_page}</div>
      <else/>
        <p class="list-empty">您暂时没有相关订单。</p>
      </notempty>
    </div>
  </div>
</block>
<block name="script">
  <script>
    seajs.use('order', function(order){
      order.listsBind();
    });
  </script>
</block>