<extend name="Base/member"/>

<block name="breadcrumb">
  <ul class="breadcrumb">
    <li><a href="{:U('/')}">首页</a></li>
    <li class="active">我的邀请</li>
  </ul>
</block>
 
<block name="body">
  <div class="user-box user-invite">
    <!-- <h3>我的邀请</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="input_number">邀请链接：</label>
        <input type="text" name="number" id="input_number" class="form-control J_path" value="{$invite_path}" readonly="true">
      </div>
      <button type="button" id="J_invite_copy" class="btn btn-positive">复制链接</button>
    </form> -->
    <p class="info">目前支持<em class="text-danger">{:C('DIS_CLASS')}级代理</em>。一级代理<em class="text-danger">{:C('FIRISTNAME')}%</em> <if condition='C("DIS_CLASS") gt 1'>二级代理<em class="text-danger">{:C('SECONDNAME')}%&nbsp&nbsp</em> </if><if condition='C("DIS_CLASS") gt 2'>二级代理<em class="text-danger">{:C('THIRDNAME')}% &nbsp&nbsp</em> </if>。</p>

    <h3>{$type}级代理列表</h3>
    <notempty name="data.0.user_id">
      <div class="row list-info">
        <div class="col-xs-12">
          <div class="hd clearfix">
            <span class="col-xs-4">用户</span>
            <span class="col-xs-4">联系电话</span>
            <span class="col-xs-4">订单数</span>
          </div>
        </div>
        <volist name="data" id="vo">
          <div class="col-xs-12">
            <div class="bd clearfix">
              <div class="col-xs-4">{$vo.user_id|get_nickname}</div>
              <div class="col-xs-4">{$vo.mobile}</div>
              <div class="col-xs-4"><strong class="text-danger">{$vo.user_id|get_unionorder}</strong></div>
            </div>
          </div>
        </volist>
      </div>
    <else/>
      <p class="list-empty">您暂时还没有代理记录！</p>
    </notempty>
  </div>
</block>
<block name="script">
  <script type="text/javascript">
    seajs.use('jquery.zclip', function(zclip){
      $('#J_invite_copy').zclip({
        path: '__JS__/lib/zclip/ZeroClipboard.swf',
        copy: function(){
          return $('.J_path').val();
        },
        afterCopy: function(){ // 复制成功后的操作
          $.ui.success('复制成功，马上发给好友！');
        }
      });
    });
  </script>
</block>
