<extend name="Public/base" />

<block name="body">
  <!-- 标题栏 -->
  <div class="main-title">
    <h2>代理人员列表</h2>
  </div>
  
  <div class="cf">
    
    
 
  </div>
  <!-- 数据列表 -->
  <div class="data-table table-striped">
    <table class="" style="width:60%">
      <thead>
        <tr>
          <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
          
          <th>用户名</th>
          <!-- <th>名称</th> -->
          <th>联系方式</th>     
          <th>订单总数</th>
          <th width="140" class="text-center">操作</th>
        </tr>
      </thead>
      <tbody>
      <notempty name="data.0.user_id">
        <volist name="data" id="vo">
          <tr class="status_trclass_{$vo.status}">
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
            
            <td>
              <a href="{:U('User/view', array('id' => $vo['user_id']))}">
                
                  {$vo.username}

              </a>
            </td>
            <!-- <td><a href="{:U('edit?id='.$vo['id'])}">{$vo.link_name}</a> </td> -->
        
            <td>{$vo.mobile}</td>
            
             <td>{$vo.user_id|unionsbyid}</td>
            <td class="text-center">

              <a href="{:U('setStatus?status=-1&ids='.$vo['user_id'])}" class="confirm ajax-get">[删除]</a>
            </td>
          </tr>
        </volist>
        <else/>
        <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
      </notempty>
      </tbody>
    </table>

  </div>
  <div class="page">
    {$_page}
  </div>
</block>

<block name="script">
  <script language="javascript" type="text/javascript" src="__PUBLIC__/Admin/js/My97Date/WdatePicker.js"></script>
  <script type="text/javascript" charset="utf-8">
    //导航高亮
    highlight_subnav('{:U('Union/userlist')}');
    Core.setValue('type', '{:I('get.type', '')}');
    //时间选择
    $('.date_select').focus(function(){
      WdatePicker({skin: 'twoer', dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d'});
    });
  </script>
</block>
